body{
    height: 100%;
    margin: 0;
    overflow: auto;
}

/* the feed */

.the-feeds-container{
    height: 90vh; 
}

.feed-logo{
    width: 16px;
}

.feed-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.pf-name{
    font-size: 30px;
    font-weight: bold;
}

.my-pfp{
    width: 20vw;
    max-width: 400px;
    min-width: 100px;
    height: 20vw;
    max-height: 400px;
    min-height: 50px;
    border-radius: 50% ;
    object-fit: cover;
    padding: 10px;
    cursor: pointer;
}

.my-pfp:hover{
    transform: scale(1.03);
}

.pf-bio{
    font-size: 15px;
}

.my-msg{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc; 
}

.msg{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: rgba(211, 211, 211, 0.123);
    padding: 5px 20px;

}

.post-btn{
    width: 100%;
    background-color: white;
    color:black;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.post-btn:hover{
    background-color: black;
    color: white;
    box-shadow: 7px 7px 5px lightgray;
}

.post-btn:active{
    box-shadow: none;
}

.post-option-txt{
    font-size: 14px;
    color: gray;
}

.post-option-txt:hover, #isFriend:hover{
    cursor: pointer;
}

.dlt-post{
    position: absolute;
    right: 10px;
}

.post-username{
    font-size: 15px;
}

.post-txt{
    font-size: 20px;
}

.feed-icon{
    width: 40px;
}

.comment-username{
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.comment-text{
    font-size: 14px;
    margin: 0;
}

