body{
    height: 100%;
    margin: 0;
}

.navbar-logo{
    width:15px;
}

.search-div{
    max-width: 400px;
    flex:1;
    margin: 0 auto;
}

.search-bar{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.123);
    border: 1px solid #ccc; 
}

.nav-icon{
    width: 15px;
    margin: 10px;
}

.nav-icon:hover{
    cursor: pointer;
}

.pf-dropdown-btn{
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* update account styling */

.pf-update{
    background-color:  rgba(211, 211, 211, 0.219);
    padding: 5px;
    border: none;
    width: 100%;
    }
    
    .update-btn{
        background-color: white;
        padding: 5px 40px;
        display: block;
        margin: auto;
    }
    
    .update-btn:hover{
        background-color: black;
        color: white;
        box-shadow: 7px 7px 5px lightgray;
    }
    
    .dlt-modal-btn{
        text-align: center;
    }

/* the feed */

.the-feeds-container{
    overflow-y: scroll;
    height: 90vh;
    scrollbar-width: none;
}

.the-feeds-container::-webkit-scrollbar{
    display: none;
}


.pf-name{
    font-size: 30px;
    font-weight: bold;
}

.my-pfp{
    width: 100%;
    border-radius: 50% ;
    padding: 10px;
}

.pf-bio{
    font-size: 15px;
}

.my-msg{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc; 
}

.msg{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: rgba(211, 211, 211, 0.123);
    padding: 5px 20px;

}

.post-btn{
    width: 100%;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;

}

.post-btn:hover{
    background-color: black;
    color: white;
    box-shadow: 7px 7px 5px lightgray;
}

.post-btn:active{
    box-shadow: none;
}

.post-username{
    font-size: 15px;
}

.post-txt{
    font-size: 20px;
}

.feed-icon{
    width: 40px;
}

/*Trending col*/
.trends-friends{
    height: 90vh;
}

.trends-friends-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.tf-tittle{
    font-size: 25px;
}

.trends-list, .friends-list{
    padding: 0;
    list-style: none;
}

.trends{
    font-weight: bold;
    font-size: 15px;
}

.trend-posts{
    font-size: 13px;
}

/*orbit friends*/


.friends-list{
    text-align: center;
    max-height: 370px;
    overflow-y: auto;
}

.friends-list::-webkit-scrollbar{
    width: 10px;
}

.friends-list::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 10px;
}

.friends-list::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}
