
.trends-div{
    align-items: center;
}

.trend-title{
    text-align: center;
}

.trend-card{
    border: 1px solid #ccc; 
    border-radius: 3px;
    min-height: 125px;
    max-height: 125px;
    overflow: hidden;
}

.card-body{
    align-items: center;
}

.rank-num{
    font-size: 25px;
}

.card-title{
    font-size: 20px;
}

.search-vol{
    font-size: 20px;
}

.search-txt{
    font-size: 15px;
}


