<div class="container full-height">
    <div class="row align-items-center lspage-card">
      <div class="col"><p>Welcome to <br>The <span class="ls-title">ORBIT.</span></p>
        <p>The center of your social circle</p>
      </div>
      <!--conditionally render login and signup page-->

<div class="col-7 log-card">
          <div class="card p-3 shadow-sm ">
            <h2 class="card-title mb-4">Login</h2>
            <form action="/login" method="get" id="loginForm">
              <div class="mb-2">
                <input type="text" placeholder="Username" name="username" class="ls-input" required/>
              </div>
              <div class="mb-3">
                <input type="password" placeholder="Password" name="password" class="ls-input" required/>
              </div>
              <div><button type="submit" class="ls-btn">Login</button></div>
            </form>
          </div>
          <p>Don't have an Orbit account? <a href="#" class="toggle-signup">Sign Up</a></p>
        </div>

        

      <div class="col-7 sign-card d-none">
        <div class="card p-3 shadow-sm">
          <h2 class="card-title mb-4">Signup</h2>
          <form action="/signup" method="POST" id="signForm">
              <div class="mb-2">
                  <input type="text" placeholder="First Name" name="fname" id="signfname" class="ls-input" required/>
                </div>
            <div class="mb-2">
              <input type="text" placeholder="Username" name="username" class="ls-input" id="signusername" required/>
            </div>
            <div class="mb-3">
              <input type="password" placeholder="Password" name="password" class="ls-input" id="signpassword" required/>
            </div>
            <div><button type="submit" class="ls-btn">Signup</button></div>
          </form>
        </div>
        <p>Don't have an Orbit account? <a href="#" class="toggle-login">Login</a></p>
      </div>
    </div>
  </div>